body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  color: #222;
  background-color: #83a583;
}

.no-margin {
  margin: 0;
}

.no-top-margin {
  margin-top: 0;
}
